.columnHolder {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editDiv {
    display: flex;
    gap: 8px;
    width: 300px
}

.editMain {
    margin-right: auto;
}

.deletePopupHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.733);
}