.columnHolder {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

main {
  grid-template-rows: min-content 1fr;
}

.dashboardh1 {
  grid-area: 1 / 2 / 2 / 5;
  margin-bottom: 24px;
  font-size: x-large;
  font-weight: bold;
}

#posts {
  grid-area: 2 / 2 / 3 / 3;
}

#comments {
  grid-area: 2 / 4 / 3 / 5;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.editDiv {
  display: flex;
  gap: 8px;
}

.editMain {
  margin-right: auto;
}

.deletePopupHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.733);
}

.sectionTitle {
  font-weight: bold;
  font-size: large;
}
