.postFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1 / 2 / 2 / 5;
}

.comment {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.postHolder {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.postTitle {
  font-size: x-large;
  font-weight: bold;
}

.editLinks {
  display: flex;
  gap: 8px;
}

.divForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 30px;
}

.serviceText {
  color: grey;
  font-size: 15px;
}

.deletePopupHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.733);
}

@media screen and (max-width: 800px) {
  .postHolder {
    width: 100%;
  }
}
