.postFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postHolder {
  width: 50%;
}

.divForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 30px;
}

.serviceText {
  color: grey;
  font-size: 15px;
}
